<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #45a0eb;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/hotelAdminIndex">Hotels</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hotelIndex">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/addProperty">Add new Property</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="logout-btn" class="nav-link active" aria-current="page" href="/">Logout</a>
        </li>
        <li class="nav-item">
          <a id="login-admin-link" type="button" class="btn nav-link active" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Login</a>
            <a style="text-decoration: none;" href="/adminViewPage"><h5 style="color: rgb(173, 253, 253); margin-left: 10px; margin-top: 9px;" id="logged-in-admin-status" ></h5></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Assuming you're using fetch for making HTTP requests
  document.getElementById('logout-btn').addEventListener('click', () => {
    fetch('/logoutAdmin', { method: 'GET' })
      .then(response => {
        if (response.redirected) {
          // Redirect to the logout confirmation page
          window.location.href = response.url;
        }
      })
      .catch(error => console.error('Error logging out:', error));
  });

  // Function to update the DOM based on login status
  function updateLoginStatus() {
    fetch('/check-login-status-admin')
      .then(response => response.json())
      .then(data => {
        if (data.loggedIn) {
          document.getElementById('logged-in-admin-status').innerText = `${data.adminName}`;
          document.getElementById('login-admin-link').style.display = 'none';
        } else {
          document.getElementById('logged-in-admin-status').innerText = '';
          document.getElementById('login-admin-link').style.display = 'block';
        }
      })
      .catch(error => console.error('Error checking login status:', error));
  }
  updateLoginStatus();


</script>