<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00637c;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/hotelIndex">Hotels</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hotelIndex">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="logout-btn" style="cursor: pointer;" class="nav-link active" aria-current="page">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/adminLogin">Admin</a>
        </li>
        <li class="nav-item">
          <a id="login-link" type="button" class="btn nav-link active" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Login</a>
          <a style="text-decoration: none;" href="/userViewPage"><h5 style="color: rgb(221, 214, 214); margin-left: 15px; margin-top: 7px;" id="logged-in-status" ></h5></a>
        </li>
      </ul>
    </div>
  </div>
  <img style="width: 50px; margin-right: 15px; height: 50px; border-radius: 50%; border: solid #ccc; object-fit: cover; object-position: center; display: inline;" src="" id="logged-in-img-status"></img>
</nav>


<!-- <img style="width: 200px; height: 200px; border-radius: 50%; border: solid #ccc; object-fit: cover; object-position: center;" src="< %= profilePic %>" id="logged-in-img-status"></img> -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/login" method="post">
          <div class="mb-3">
            <label for="UserId" class="form-label">UserId</label>
            <input type="text" class="form-control" id="userId" name="userId">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" id="password" name="password">
              <button class="btn btn-outline-secondary" type="button" id="password-toggle" style="border-color: rgb(194, 192, 192); border-width: 1px;">
                <i style="font-size: 18px;" class="fa">&#xf06e;</i>
              </button>
            </div>
          </div>
          <u>
            <p style="cursor: pointer;">forgot password ?</p>
          </u>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- eye view icon:-> to view password toggle icon -->
<script>
  document.getElementById('password-toggle').addEventListener('click', function () {
    var passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });
</script>

<script>
  // Assuming you're using fetch for making HTTP requests
  document.getElementById('logout-btn').addEventListener('click', () => {
    fetch('/logout', { method: 'GET' })
      .then(response => {
        if (response.redirected) {
          // Redirect to the logout confirmation page
          window.location.href = response.url;
        }
      })
      .catch(error => console.error('Error logging out:', error));
  });

  // Function to update the DOM based on login status
  function updateLoginStatus() {
    fetch('/check-login-status')
      .then(response => response.json())
      .then(data => {
        if (data.loggedIn) {
          document.getElementById('logged-in-status').innerText = `${data.userName}`;       
          document.getElementById('logged-in-img-status').src= `${data.profilePic}`;
          document.getElementById('login-link').style.display = 'none';
        } else {
          document.getElementById('logged-in-status').innerText = '';
          document.getElementById('login-link').style.display = 'block';
          document.getElementById('logged-in-img-status').style.display = 'none';
        }
      })
      .catch(error => console.error('Error checking login status:', error));
  }
  updateLoginStatus();
 

</script>