<%- include('../partials/header') %>
  <%- include('../partials/AdminNavbar') %>

    <div style="
background-image: url('https://media.istockphoto.com/id/1544759132/photo/business-advisor-business-people-talking-planning-analyze-investment-and-marketing-on-tablet.jpg?s=1024x1024&w=is&k=20&c=yeYtaI_opqt5h_PpCdmblLioB_XLrBaWJ_7Y_OG6aAQ=');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 m-auto">
            <h2 style="color: rgb(136, 212, 241);" class="mt-3">Admin Login page</h2>
            <form action="/adminLogin" method="post">
              <div class="mb-3">
                <label style="color: white;" for="adminId" class="form-label">Admin Id</label>
                <input type="text" class="form-control" id="adminId" name="adminId">
              </div>
              <div class="mb-3">
                <label style="color: white;" for="password" class="form-label">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" name="password">
                  <button class="btn btn-outline-secondary" type="button" id="password-toggle"
                    style="border-color: rgb(194, 192, 192); border-width: 1px;">
                    <i style="font-size: 18px;" class="fa">&#xf06e;</i>
                  </button>
                </div>
              </div>
              <u>
                <p style="cursor: pointer; color: white;">forgot password ?</p>
              </u>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('password-toggle').addEventListener('click', function () {
        var passwordInput = document.getElementById('password');
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
        } else {
          passwordInput.type = 'password';
        }
      });
    </script>
    <%- include('../partials/footer') %>