<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<h1>Welcome to Oberoi Properties</h1>
<div style="
background-image: url('https://media.istockphoto.com/id/1356321280/photo/young-couple-husband-and-wife-check-in-at-the-hotel-and-give-their-passport.jpg?s=1024x1024&w=is&k=20&c=bm2bgym2I7Kvuf5QX1nGZtT4nJ9_xzy3o_i9cgjyF2E=');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 80vh;">
</div>

<%- include('./partials/footer') %>